*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    padding: 50px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    min-width: 150px;
    min-height: 150px;
    cursor: pointer;
}
.grandparent{
    background: #b1d4e0;
    color: black;
}

.parent{
    background: #000;
}

.child{
    background: #0c2d48;
}